@charset "utf-8";
/* CSS Document */

.main-article {
    font-size: 1.6rem;
    width: 80%;
    margin-top: 30px;;
    margin-left: auto;
    margin-right: auto;
}
.left-article {
    width: 50%;
    padding-left: 10px;
}
.right-article {
    width: 50%;
    padding-left: 10px;
}
.left-article div, .right-article div {
    margin-bottom: 20px;
}
.main-article button {
    width: 80%;
}
.standingsAll {
    width: 80%;
    font-size: 0.8rem;
    color: rgb(94, 94, 94);
    padding-top: 10px;
    padding-left: 20px;
}
.root-article {
    font-size: 0.8rem;
}
.secret-area {
    opacity: 0.0;
    width: 10px;
    margin: 0 auto;
}