@charset "utf-8";
/* CSS Document */
.selectDay {
    width: 30rem;
    margin-right: auto;
    margin-left : auto;
    margin-top: 30px;;
    margin-bottom: 30px;;
    background-color: bisque; 
    font-size: 2.0rem;
    text-align: center;
}
.outer-container {
	background: #ffe0c0;
	padding: 10px;
	display: inline-block;
	min-width: 100%;
}
.inner-container {
	background:white;
	box-shadow: 0 0 1px 1px #888;
	padding: 2px;
	flex-flow: column nowrap;
}