<!DOCTYPE html>
<html>
  <head>
    <%- include('../include/head') -%>
    <link rel='stylesheet' href='/stylesheets/admin/index.css' />
  </head>
  <body>
    <%- include('../include/header') -%>
    <main class="page-main">
      <article class="main-article">
        <div class="left-article">
          <div>
            <button type="button" className="ml-5 btn-secondary" onclick="location.href=getLocation('/admin/standingsIndividualEvent')" >個人種目別順位作成</button>
          </div>
          <div>
            <button type="button" className="ml-5 btn-secondary" onclick="location.href=getLocation('/admin/standingsIndividualAllRound')" >個人総合順位作成</button>
          </div>
          <div>
            <button type="button" className="ml-5 btn-secondary" onclick="location.href=getLocation('/admin/standingsTeamCompetition')" >団体総合(4種目)順位作成</button>
          </div>
          <div>
            <button type="button" className="ml-5 btn-secondary" onclick="location.href=getLocation('/admin/standingsTeamCompetition30')" >団体総合(3種目)順位作成</button>
          </div>
          <div>
            <button type="button" className="ml-5 btn-secondary" onclick="location.href=getLocation('/admin/standingsExcludingTop3Teams')" >個人順位(上位3団体除く)作成</button>
          </div>
        </div>
        <div class="right-article">

        </div>
      </article>
      <%- include('../include/message') %>
    </main>  
    <%- include('../include/footer') %>
  </body>
</html>
