<!DOCTYPE html>
<html>
  <head>
    <%- include('../include/head') -%>
    <link rel='stylesheet' href='/stylesheets/admin/selectDay.css' />
  </head>
  <body>
    <%- include('../include/header') -%>
    <main class="page-main">
      <article class="main-article">
        ここに印刷メニューを表示します。
      </article>
      <section class="message-container">
        <p class="error"><%= error %></p>
      </section>
    </main>  
    <%- include('../include/footer') %>
  </body>
</html>
