<!DOCTYPE html>
<html>
  <head>
    <%- include('./include/head') %>
  </head>
  <body>
    <%- include('./include/header') %>
    <main class="page-main">
        システムはまだ準備されていません。<br>
        運営管理者に連絡してください。
    </main>  
    <%- include('./include/footer') %>
  </body>
</html>
