<div id="loading" class="loading-article">
    <div class="loading-area">
        <img src="images/712-88.gif" class="loading-image" />
        <p class="loading-message">
          処理中...<br/>
          しばらくお待ち下さい。
        </p>    
    </div>
</div>
