@charset "utf-8";
/* CSS Document */
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.page-header {
  width: 100%;
  color: gray;
  font-size: 0.8rem;
  text-align: right;
  background-color: rgb(230, 230, 230);
}
.page-footer {
  width: 100%;
  color: gray;
  font-size: 0.6rem;
	text-align: center;
}
.message-container {
	text-align: center;
}
.message {
  color: blue;
  font-weight: bold;
}
.error {
  color: red;
  font-weight: bold;
}
.error-page {
  width: 60%;
  margin: 0 auto;
}
.error-header {
  font-size: 2.0rem;
}
.error-body {
  font-size: 1.5rem;
  margin-left: 20px;  
  padding: 10px;
  border: 1px black solid;
}
.error-footer {
  color: blue;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-top: 25px;;
}