<!DOCTYPE html>
<html>
  <head>
    <%- include('../include/head') -%>
    <link rel='stylesheet' href='/stylesheets/scoring/style.css' />
  </head>
  <body>
    <%- include('../include/header') -%>
    <main class="page-main">
      <div id="content"></div>
    </main>  
    <%- include('../include/footer') %>
    <script src="/javascripts/scoring.bundle.js"></script>
  </body>
</html>
